/*Mein Tagebuch Überschrift/Brandname*/
.brandName {
    text-decoration: none;
    color: #ffffff;
    position: fixed;
    right: 30pt;
    font-size: 10mm;
    font-variant: small-caps;
    font-style: normal;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 11px;
}

/*Balken ganz oben, auf dem Menü-Button positioniert ist */
.navbar {
    background-color: #7C0A02;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;

}
/* Position des Menü-Icon */
.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}
/* Menu verschwand */
.nav-menu {
    background-color: #f3d4d4;
    width: 250px;
    height: 25vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 10%;
    left: -100%;
    transition: 850ms;
}

/*Ausfahren des Menü */
.nav-menu.active {
    left: 0;
    transition: 650ms;
}

/*Schrift in der Navbar*/
.nav-text a {
    text-decoration: none;
    color: #7C0A02;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 7px 16px;
    border-radius: 9px;
}

/* Farbe des Menüpunkts, wenn Corser darauf landet */
.nav-text a:hover {
    background-color: #ffffff;
    padding: 9px;
    width: auto;
}

/* Menü so groß genug, damit Rahmen der Menüpunkte nicht größer sind als das Fenster */
.nav-menu-items {
    width: 100%;
    list-style-type: none;
}

/* X (Schliessen)-Details */
.navbar-toggle {
    width: auto;
    height: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px;
}

/* Farbe, wenn Corser auf Schließen Button kommt */
.navbar-toggle:hover {
    background-color:  #ffffff;
}

span {
    margin-left: 40px;
}
